//- mixin tweetsDisp(time, tweet)
//-   h3 = time
//-   p = tweet
mixin list(time, tweet)
  h4 #{time}
  p #{tweet}

doctype html
html
  head
    title Tweets
  body
    h1 Welcomes
    h2 This page shows tweets for #{a}
    each values in data
      +list(values.created_at, values.text)


